.n-wrapper{
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 2.3rem;
    font-weight: bold;
    color: #0ffd23 ;
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.3rem;
}

-n-list{
    flex: 10;
    font-size: 24px;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

/* change color on hover and make cursor to pointer */
.n-list>ul>li:hover{
    cursor: pointer;
    color: var(--green);
}

.n-button{
    flex:2;
}
